/* .NavbarItems{
    height: 16 px;
    display: flex;
    background-color: black;
} */

/* Change background to black so the CAT logo is visible*/
.navbar-logo {
   background-color: black;
   padding-top: 4px
   /*padding: 0px 0px 0px 0px;*/
}

nav {
   margin: 0px 0px 0px 0px;
}
ul {
    list-style-type : none;
    margin-top: 0px;
    margin : 120;
    padding : 0;
    overflow : hidden;
    background-color: black;
}

li {
    float : right;
}

li a {
    display : block;
    color : white;
    text-align : right;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: gray;

}
